<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-2">
           <%= link_to "投稿詳細へ戻る", post_path(@post), class: "btn btn-primary p-3"  %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1 mt-3">
            <div class="border border-primary rounded bg-white">
                <h3 class="bg-primary text-white text-center py-3 mb-0">
                   コメント一覧
                </h3>
            
               <!--コメントは基本的に消せないようにしたいのでユーザー側の削除機能は実装していません-->
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                                <thead class="table-secondary">
                                       <tr>
                                           <th style="width: 20%">投稿者</th>
                                           <th style="width: 60%">コメント</th>
                                           <th style="width: 20%">投稿日時</th>
                                       </tr>
                                </thead>
                                <tbody>
                                     <!--コメントがない場合表示-->
                                     <% unless @comment.present? %>
                                        <tr>
                                            <td></td>
                                            <td>
                                             <h3 class="text-center">コメントはありません。</h3>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <% else %>
                                    <!--投稿に対してのコメントを表示-->
                                       <% @comment.each do |comment| %>
                                                <tr>
                                                    <td>
                                                       <%= link_to user_path(@user), class: "text-dark text-decoration-none" do %>    
                                                            <%= comment.user.name %>
                                                        <% end %>  
                                                    </td>
                                                    <td>
                                                       <%= comment.comment %>
                                                    </td>
                                                    <td>
                                                       <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                                                    </td>
                                                </tr>
                                        <% end %>
                                    <% end %>    
                                </tbody>
                        </table>
                         <!--１ページ１５個まで-->
                        <%= paginate @comment %>
                    </div>
                </div>
            </div>    
        </div>   
    </div>
</div>