<div class="container">
    <div class="row">
        <div class="col-md- mt-5">
            <h3 class="bg-primary text-white text-center p-3 rounded">タイトル検索</h3>
          <!--whereメソッドを使い検索機能を実装しています-->
            <nav class="navbar mr-auto mb-5">
                
                  <%= form_with  url: search_posts_path, method: :get do |f| %>
                   
                       <!--部分検索機能が入っています-->
                    <%= f.text_field :title, class: "m-form-text", placeholder: "タイトル名" %>
                   
                    <%= f.submit '検索', class: "btn btn-success" %>
                   
                  <% end %>
                 
            </nav>
            <div class="border border-primary rounded">
              <!--ジャンル検索は少しわかりづらいので工夫して修正したい-->
                <h3 class="bg-primary text-white text-center py-3  mb-3">ジャンル検索</h3>
                 <table class="table table-borderless genre_table">
                       <tbody>
                          <% @genres.each do |genre| %>
                          <tr>
                              <th class=" text-center h4">
                                <!--好きなジャンルをクリックするとそのジャンルのページになります-->
                                <%= link_to posts_path(genre_id: genre.id), class:"text-dark text-border text-decoration-none" do %>
                                
                                 <%= genre.name %>
                                <% end %>
                              </th>
                           </tr> 
                          <% end %>
                    </tbody>
                  </table>
            </div>    
        </div>
        <div class="col-md-7 offset-md-1 mt-5">
            <div class="border border-primary rounded">
                <h3 class="bg-primary text-white text-center py-3 mb-0">
                    投稿一覧
                </h3>
            
    
                <div class="row">
                    <div class="col-12">
                        <table class="table table-borderless">
                                <thead class="table-secondary">
                                       <tr>
                                           <th>アニメ名</th>
                                           <th>投稿者</th>
                                           <th>ジャンル</th>
                                           <th>投稿日時</th>
                                       </tr>
                                </thead>
                                <tbody>
                                    <!--投稿がない場合に表示-->
                                    <% unless @posts.present? %>
                                        <tr>
                                            <td></td>
                                            <td>
                                             <h3 class="text-center">投稿はありません。</h3>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <% else %> 
                                    <!--投稿一覧を表示-->
                                        <% @posts.each do |post| %>
                                                <tr>
                                                    <td>
                                                        <!--投稿詳細画面に遷移します-->
                                                        <%= link_to post_path(post) do %>
                                                          <%= post.title %>
                                                        <% end %>
                                                    </td>
                                                    <td>
                                                        <!--ユーザー詳細画面に遷移します-->
                                                        <%= link_to user_path(post.user) ,class: "text-dark" do %>  
                                                           <%= post.user.name %>
                                                        <% end %>
                                                    </td>
                                                    <td>
                                                        <%= post.genre.name %>
                                                    </td>
                                                    <td>
                                                        <%= post.updated_at.strftime('%Y/%m/%d %H:%M') %>
                                                    </td>
                                                </tr>
                                        <% end %>
                                    <% end %>    
                                </tbody>
                        </table>
                         <!--１ページ１５個まで-->
                         <%= paginate(@posts) %>
                    </div>
                </div>
            </div>    
        </div>   
    </div>    
</div>