<div class="container">
    <div class="row">
         <div class="col-lg-3 mt-5 ">
            <!--ユーザー情報の表示-->
           <%= render 'public/users/user', user: @user %>
        </div>
        <div class="col-lg-7 offset-lg-1 mt-5">
            <div class="border border-primary rounded bg-white">
                <h3 class="bg-primary text-white text-center py-3 mb-0">
                    <!--投稿詳細のユーザー名を表示しています-->
                    <%= @user.name %>さんの投稿一覧
                </h3>
            
    
                <div class="row">
                    <div class="col-12">
                        <table class="table table-borderless">
                                <thead class="table-secondary">
                                       <tr>
                                           <th>アニメ名</th>
                                           <th>ジャンル</th>
                                           <th>投稿日時</th>
                                       </tr>
                                </thead>
                                <tbody>
                                    <!--投稿がない場合に表示-->
                                    <% unless @posts.present? %>
                                    <tr>
                                        <td></td>
                                        <td>
                                         <h3 class="text-center">投稿はありません。</h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <% else %>
                                    <!--ユーザーの投稿を表示-->
                                        <% @posts.each do |post| %>
                                                <tr>
                                                    <td>
                                                        <!--投稿詳細ページに遷移-->
                                                        <%= link_to admin_post_path(post), class: "text-dark" do %>
                                                          <%= post.title %>
                                                        <% end %>
                                                    </td>
                                                    <td>
                                                        <%= post.genre.name %>
                                                    </td>
                                                    <td>
                                                        <%= post.updated_at.strftime('%Y/%m/%d %H:%M') %>
                                                    </td>
                                                </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                        </table>
                          <!--１ページ１５個まで-->
                        <%= paginate @posts %>
                    </div>
                </div>
            </div>    
        </div>   
    </div>
</div>