<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-2">
           <%= link_to "マイページへ戻る", user_path(@user), class: "btn btn-primary p-3"  %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1 mt-3">
            <div class="border border-primary rounded bg-white">
                <h3 class="bg-primary text-white text-center py-3 mb-0">
                   いいねした投稿一覧
                </h3>
            
               
                <div class="row">
                    <div class="col-12">
                        <table class="table mb-0">
                                <thead class="table-secondary">
                                       <tr>
                                           <th style="width: 20%">投稿者</th>
                                           <th style="width: 60%">タイトル</th>
                                           <th style="width: 20%">投稿日時</th>
                                       </tr>
                                </thead>
                                <tbody>
                                     <!--いいねがない場合表示-->
                                    <% unless @favorite_posts.present? %>
                                        <tr>
                                            <td></td>
                                            <td>
                                             <h3 class="text-center">いいねした投稿はありません。</h3>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <% else %>
                                    <!--投稿に対してのいいね一覧を表示-->
                                       <% @favorite_posts.each do |post|%>
                                                <tr>
                                                    <td>
                                                       <%= link_to user_path(@user), class: "text-dark" do %>    
                                                            <%= post.user.name %>
                                                        <% end %>  
                                                    </td>
                                                    <td>
                                                       <%= link_to post_path(post), class: "text-dark" do %>
                                                            <%= post.title %>
                                                       <% end %>      
                                                    </td>
                                                    <td>
                                                       <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
                                                    </td>
                                                </tr>
                                        <% end %>
                                    <% end %>    
                                </tbody>
                        </table>
                         <!--１ページ１５個まで-->
                        <%= paginate @favorites %>
                    </div>
                </div>
            </div>    
        </div>   
    </div>
</div>